* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --blue-500: #389cd6;

  --gray-700: #7b7070;
  --gray-100: #00000014;

  --green-500: #309d5f;

  --red-600: #ee6381;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--white);
  color: var(--gray-700);
  overflow-x: hidden;

  &.overflowHidden {
    overflow: hidden;
  }
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
