.headerContainer {
  height: 5rem;
}

.headerContent {
  // max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 22rem;

  position: relative;

  nav {
    height: 3rem;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue-500);

    position: absolute;
    left: 0;
    right: 0;

    div {
      & + div {
        margin-left: 3rem;
      }
    }

    a {
      background: 0;
      border: 0;
      color: var(--white);
      font-weight: bold;

      margin-left: 3rem;
    }
  }
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.searchIconContainer {
  position: absolute;
  right: 0;
}
