.headerContainer {
  height: 5rem;
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      & + img {
        align-self: flex-end;
      }
    }
  }

  nav {
    height: 5rem;
  }
}
